body{
margin:0px;
text-align:center;
background-color:;

}

h1{
margin-top:0;
position:relative;
padding:10px;
font-family:Brush Script MT;
font-size:90px;
color:#799351;

}
h3{
color:#28abb9;
font-family:Arial;
}
h2{
color:#28abb9;
font-family:Arial;
padding-bottom:10px;
}

/***************CLASS SELECTORS*********************/
.top-container{
	background-color:#a8dda8;

}

.bottom-cloud{
position:absolute;
margin-right:30%;

}
.top-cloud{
position:relative;
margin-left:30%;
padding:50px;

}
.robo{
	border-radius:50px;
	position:relative;
	padding:20px;
	
}
.p{
	text-decoration:underline;
	font-size:2.5rem;
	color:#799351;
	font-family:Arial;
}
.skill-row{
width:50%;
position:relative;
margin:100px auto 100px auto;
text-align:left;
line-height:2;
font-size:150%;
}
.code{
width:25%;
border-radius:10px;
float:left;
margin-right:20px;
font-size:40px;


}
.chillies{
width:25%;
float:right;
margin-right:30px;

}
hr
{
border-style: none;
border-top-style:dotted;
border-width:5px;
border-color:grey;
width:5%;
margin:100px auto;
}
.intro{
width:30%;
margin:auto;
font-size:150%;
}
.contact-message{
width:40%;
margin:40px auto 60px;
font-size:120%;

}
.btn {
	background-color:#33bdef;
	border-radius:19px;
	border:4px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	margin-bottom:10px;
	padding:13px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b6178;
}
.btn:hover {
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container{
background-color:#33bdef;
padding:19px 50px;
text-decoration:none;

}
.footer-link{
text-decoration:none;
font-family:arial;
margin:12px 13px;
background:effad3;
border-radius:19px;
cursor:pointer;
display:inline-block;
padding:13px 25px;
color:#39311d;
}
.footer-link:hover{
background-color:#fff3e2;
}
.footer-link:active {
	position:relative;
	top:10px;
}
.copyright{
color:white;
font-size:1rem;

}


